/* Add your CSS here to style your halloween page */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

body {
    background: repeating-linear-gradient(
        45deg,
        #ffcc00,
        #ffcc00 20px,
        #ff6699 20px,
        #ff6699 40px
    );
    color: blue;
    font-family: 'Comic Neue', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: lime;
    border: 10px dashed purple;
    border-radius: 50px;
    width: 90%;
    margin: 20px auto;
    box-shadow: 10px 10px 0px orange;
    transform: rotate(1deg);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    font-size: 2rem;
    color: red;
    transform: rotate(-3deg);
    text-shadow: 2px 2px yellow;
    transition: all 0.3s ease;
}

nav li:hover {
    color: lime;
    transform: rotate(5deg) scale(1.2);
}

h1 {
    font-family: 'Comic Neue', cursive;
    font-size: 5rem;
    color: magenta;
    text-shadow: 3px 3px yellow;
    transform: rotate(-2deg);
    margin: 30px 0;
}

h2 {
    color: red;
    font-size: 3rem;
    text-shadow: 2px 2px blue;
    transform: rotate(1deg);
    margin: 20px 0;
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: green;
    transform: rotate(-1deg);
    padding: 0 20px;
}

footer {
    margin-top: 40px;
    color: orange;
    font-size: 2rem;
    text-shadow: 2px 2px red;
    transform: rotate(2deg);
}
